.card-container {
  cursor: pointer;
  border-radius: 5em;
  height: 400px;
  width: 400px;
  perspective: 800px;
  position: relative;
  margin: auto;
  padding-top: 8%;

}

.card {
  height: 400px;
  width: 400px;
  border-radius: 5.5em;
  border: 6px solid #930012;
  box-shadow: 0 2px 2px rgba(0,0,0,0.03), 0 2px 2px rgba(0,0,0,0.3);
  position: absolute;
  background: none;
  transform-style: preserve-3d;
  transition: all 0.4s ease-in-out;
}

.card .back {
  background-color: rgba(255, 255, 255, 0.85);
  height: 400px;
  width: 400px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.03), 0 2px 2px rgba(0,0,0,0.3);
  border-radius: 5em;
  backface-visibility: hidden;
  transform: rotateX(180deg);
  transform: rotate3d(360deg);
  transform-style: preserve-3d;
}

.card-container:hover .card {
  transform: rotateX(180deg) scale(1.15);

  transform-style: preserve-3d;
  transition: all 0.4s ease-in-out;
}

.card-container .card {
  transform-style: preserve-3d;
  transition: all .6s ease-in-out;
}

.card-container:hover .card .back {
  transition: all 0.6s ease-in-out;
  opacity: 1;
}

.card .front {
  height: 400px;
  border-radius: 5em;
  width: 400px;
  backface-visibility: hidden;
  position: absolute;
  overflow: hidden;
  text-align: center;
  background-color: white;
}

.name{
  color: #333;
  text-align: left;
  font-family: 'Arvo';
  font-size: 3em;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
}

.deal{
  color: #333;
  text-align: left;
  font-family: 'Arvo';
  font-size: 1.5em;
  padding-top: 6%;
  padding-left: 10%;
  padding-right: 10%;
}

.style{
  color: #333;
  text-align: left;
  font-size: 1em;
  padding-top: 6%;
  padding-left: 10%;
  padding-right: 10%;
}

.days{
    color: #333;
    text-align: left;
    font-size: 1em;
    padding-top: 6%;
    padding-left: 10%;
    padding-right: 10%;
}

.price{
    color: #333;
    text-align: left;
    font-size: 1em;
    padding-top: 6%;
    padding-left: 10%;
    padding-right: 10%;
}

.location {
    color: #333;
    text-align: left;
    font-size: 1em;
    padding-top: 6%;
    padding-left: 10%;
    padding-right: 10%;
}

img {
  border-radius: 6px;
  object-fit: cover;
  width: 400px;
  height: 400px;
}

