.card-container {
  cursor: pointer;
  height: 400px;
  width: 400px;
  perspective: 800px;
  position: relative;
  margin: auto;
  transition: all 0.4s ease-in-out;
  transform-style: preserve-3d;
}

.card {
  height: 400px;
  width: 400px;
  position: absolute;
  border: 1px solid #300;
  background: none;
  transform-style: preserve-3d;
}

.card .back {
  height: 400px;
  width: 400px;
  opacity: 0;
  transform: rotateX(180deg);
  transform-style: preserve-3d;
}

.card-container:hover .card {
  transform: rotateX(180deg);
}

.card-container:hover .card .back {
  transition: all 0.4s ease-in-out;
  opacity: 1;
}

.card .front {
  height: 400px;
  width: 400px;
  backface-visibility: hidden;
  position: absolute;
  overflow: hidden;
  text-align: center;
}

.name{
  color: #333;
  text-align: left;
  font-size: 2em;
  padding-top: 20%;
  padding-left: 10%;

}

.style{
  color: #333;
  text-align: left;
  font-size: 1em;
  padding-top: 2%;
  padding-left: 10%;
}

.price{
    color: #333;
    text-align: left;
    font-size: 1em;
    padding-top: 5%;
    padding-left: 10%;
}

.description{
    color: #333;
    text-align: left;
    font-size: 1em;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

img {
  height: 400px;
}

