ul{
  list-style-type:none;
  float:left;
  clear:both;
}

li{
  float:left;
  width:400px;
  padding:10px;
  margin:10px;
}

.cardGrid {
  text-align: center;
}

.gridSection {
  background-image: url("../img/background.png");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}