.button {
  font-size: 1.5em;
  border: none;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  display: block;
  text-align:center;
  text-decoration:none;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  background: #006e2e; /* Old browsers */
  background: -moz-linear-gradient(top, #006e2e 0%, #005132 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #006e2e 0%,#005132 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #006e2e 0%,#005132 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: white;
  margin: auto;
  margin-top: 2em;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}

.button:hover{
  background: #006e2e; /* Old browsers */
  background: -moz-linear-gradient(top, #005132 0%, #006e2e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #005132 0%, #006e2e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #005132 0%, #006e2e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

