.button {
  font-size: 1.5em;
  border: none;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  display: block;
  text-align:center;
  text-decoration:none;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  background: #0288D1;
  color: white;
  margin: auto;
  margin-top: 2em;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}

.button:active{
  border: none;
  top:3px;
}

.button:focus{
  border: none;
  background: #0288D1;
  top:3px;
}

.button:hover{
  background: white;
  color: #0288D1;
  border: 1px solid #0288D1;
}

