.nav{
  overflow: hidden;
  background: #930012; /* Old browsers */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006e2e', endColorstr='#005132',GradientType=0 ); /* IE6-9 */
  color: white;
  height: 60px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.logo{
  text-align: left;
  padding-top: 20px;
  padding-left: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 2em;
}

.headermenu {
  margin-top: 14px;
  display: inline;
  float: right;
}

.menuitem {
  text-decoration: none;
  margin-right: 20px;
  color: white;
  font-family: 'arvo';
  font-size: 2em;

 }