.heading {
  margin: 2em;
}

.placeButton {
  padding: 6px;
  border-radius: 5px;
  background: #006e2e; /* Old browsers */
  background: -moz-linear-gradient(top, #006e2e 0%, #005132 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #006e2e 0%,#005132 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #006e2e 0%,#005132 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: white;
}

.placeButton:hover{
  background: #006e2e; /* Old browsers */
  background: -moz-linear-gradient(top, #005132 0%, #006e2e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #005132 0%, #006e2e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #005132 0%, #006e2e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

.dealButton {
  padding: 6px;
  border-radius: 5px;
  background: #006e2e; /* Old browsers */
  background: -moz-linear-gradient(top, #006e2e 0%, #005132 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #006e2e 0%,#005132 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #006e2e 0%,#005132 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: white;
}

.dealButton:hover{
  background: #006e2e; /* Old browsers */
  background: -moz-linear-gradient(top, #005132 0%, #006e2e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #005132 0%, #006e2e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #005132 0%, #006e2e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

.parallax {
  background-image: url('../img/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
}

.newPlace {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12%;
  width: 500px;
}

.wrapperdiv {
  height: 100%;
}


.AddPlace {
  position: relative;
  margin: auto;
}