  table,
  tr {
    border: 1px solid grey;
    display: block;
    padding: 5px;
  }

  tbody, td {
    display: block;
    }

  h1, h2 {
    display: inline;
  }

  .placeButton {
    display: inline;
    float: right
  }

  .dealButton {
    display: inline;
    float: right
  }

.placesTable {
    margin-top: 4em;
    margin-left: 20%;
    margin-right: 20%;
  }

